<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Users</h4>
                    <p class="card-category">Registered users</p>
                    <button class="btn btn-success mat-raised-button" (click)="addUser()">Add user</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Login</th>
                                    <th>Email</th>
                                    <th>CreatedAt</th>
                                    <th>ModifiedAt</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.login}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.createdAtFormatted}}</td>
                                    <td>{{user.modifiedAtFormatted}}</td>
                                    <td><a (click)="remove(user)" class="icon"><i class="material-icons">delete</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>